@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

/* #services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
} */

#services-headings {
  font-size: 24px;
  font-weight: 600;
}
